<section class="showUsers">
  <h1>Single User's Posts</h1>

  <% render 'users/user', user: @user %>

   <article class="user">
    <div class="img-container">
      <img src="<%= @user.photo %>" alt="<%= @user.name %>">
    </div>
    <div class="user_details">
      <h2 class="name"><%= @user.name %></h2>
      <span class="sub">Number of posts: <%= @user.post_counter %></span>
    </div>
  </article>

  <div class="user_posts">
    <%= render  @posts %>
  </div>
  <div class="post-button">
    <button>
      <%= link_to "Go back", user_path(@user)%>
    </button>
  </div>

  <div class="add_new_post_btn">
    <button>
      <%= link_to "Add_New_Post", new_user_post_path(@user)%>
    </button>
  </div>
</section>